body{background-color:black}
h1{border-style: solid;color: red}
p{font-family: Times New Roman;color:white;font-size: 18px}
h2{border-style: double;color: red;font-family: Algerian;}
.text_content{text-indent: 60px;text-align: justify;
			border-style: dotted; border-color: red}
.Red{color: white;
  background:#FF6347;
  padding: 5px;text-align: center}
